/* brant customizations */
.alert {
  color: #BA0C2F;
  font-weight: 400;
}

.alert-blue {
  color: #00A3AD;
  font-weight: 400;
}

div.notation {
  border: 3px solid #ccc;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

div.citation {
  border: 3px solid #ccc;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

span.citation {
  color: #007acc;
  font-weight: 400;
}

span.notation {
  color: #2ecc71;
  font-weight: 400;
}
